<?xml version="1.0" encoding="utf-8"?>
<Content Key="bc2a97cc-0269-4f5b-bab2-2815c3f545c9" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2025-07-06T18:18:19</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="96df565c-b466-4e54-91b9-fcfe7a02383f">home</Template>
  </Info>
  <Properties>
    <gridContent>
      <Value><![CDATA[]]></Value>
    </gridContent>
  </Properties>
</Content>